@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* Body Variables */
/* mainNavigation Variables */
/* cardsContainer */
/* cardsContainer >>> Card */
/* cardsContainer >>> profilePic */
:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d8d8d8;
  font-family: "Varela Round", sans-serif;
}

.linkLangWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 2rem;
}

.mainContainer .mainNavigation {
  width: 100vw;
  height: 20vh;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0rem 0.8rem 2rem #a0a0a0;
          box-shadow: 0rem 0.8rem 2rem #a0a0a0;
  font-size: 3rem;
  text-shadow: 0rem 0.5rem 1.5rem #a0a0a0;
  color: #333;
  margin-bottom: 10rem;
}

.mainContainer .mainNavigation .navHeading {
  font-size: 3rem;
}

.mainContainer .mainNavigation .mainNavigationDropdown {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

.mainContainer .mainNavigation .mainNavigationDropdown .btn {
  font-size: 1.5rem;
}

.mainContainer .mainNavigation .mainNavigationDropdown li a {
  font-size: 1.5rem;
}

.mainContainer .mainNavigation .mainNavigationDropdown li img {
  vertical-align: middle;
}

.mainContainer .mainNavigation .mainNavigationDropdown li:hover {
  background-color: #444;
}

.mainContainer .cardsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  text-align: center;
  gap: 8rem;
}

.mainContainer .cardsContainer .card {
  width: 80%;
  height: 40rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainContainer .cardsContainer .card .profilePic {
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  -webkit-box-shadow: 0rem 0.3rem 2rem #444;
          box-shadow: 0rem 0.3rem 2rem #444;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  position: relative;
  background-color: #f7f7f7;
  margin: 0;
  bottom: 20%;
}

.mainContainer .cardsContainer .card .breedinfoContainer {
  margin-top: -9rem;
}

.mainContainer .cardsContainer .card .breedinfoContainer .breedHeader {
  margin-bottom: 1.5rem;
}

.mainContainer .cardsContainer .card .breedinfoContainer .subBreedHeader {
  margin-bottom: 1.5rem;
}

.mainContainer .cardsContainer .card .breedHeader {
  font-size: 3rem;
  margin: 0;
}

.mainContainer .cardsContainer .card .subBreedHeader {
  font-size: 2.5rem;
  margin: 0;
}

.mainContainer .cardsContainer .card .breedInfo {
  font-size: 1.5rem;
  margin: 0;
}

.mainContainer .cardsContainer .card .socialLinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

@media only screen and (min-width: 900px) {
  :root {
    font-size: 10px;
  }
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #d8d8d8;
    font-family: "Varela Round", sans-serif;
  }
  .linkLangWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 2rem;
  }
  .mainContainer .mainNavigation {
    width: 100vw;
    height: 20vh;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0rem 0.8rem 2rem #a0a0a0;
            box-shadow: 0rem 0.8rem 2rem #a0a0a0;
    font-size: 3rem;
    text-shadow: 0rem 0.5rem 1.5rem #a0a0a0;
    color: #333;
    margin-bottom: 10rem;
  }
  .mainContainer .mainNavigation .navHeading {
    font-size: 3rem;
  }
  .mainContainer .mainNavigation .mainNavigationDropdown {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
  }
  .mainContainer .mainNavigation .mainNavigationDropdown .btn {
    font-size: 1.5rem;
  }
  .mainContainer .mainNavigation .mainNavigationDropdown li a {
    font-size: 1.5rem;
  }
  .mainContainer .mainNavigation .mainNavigationDropdown li img {
    vertical-align: middle;
  }
  .mainContainer .mainNavigation .mainNavigationDropdown li:hover {
    background-color: #444;
  }
  .mainContainer .cardsContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    text-align: center;
    gap: 0rem;
  }
  .mainContainer .cardsContainer .card {
    width: 80%;
    height: 40rem;
    background-color: #f7f7f7;
    border-radius: 1rem;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainContainer .cardsContainer .card .profilePic {
    border-radius: 50%;
    width: 11rem;
    height: 11rem;
    -webkit-box-shadow: 0rem 0.3rem 2rem #444;
            box-shadow: 0rem 0.3rem 2rem #444;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    position: relative;
    background-color: #f7f7f7;
    margin: 0;
    bottom: 20%;
    margin-bottom: 2.5rem;
  }
  .mainContainer .cardsContainer .card .breedinfoContainer {
    margin-top: -9rem;
  }
  .mainContainer .cardsContainer .card .breedinfoContainer .breedHeader {
    margin-bottom: 1.5rem;
  }
  .mainContainer .cardsContainer .card .breedinfoContainer .subBreedHeader {
    margin-bottom: 1.5rem;
  }
  .mainContainer .cardsContainer .card .breedHeader {
    font-size: 3rem;
    margin: 0;
  }
  .mainContainer .cardsContainer .card .subBreedHeader {
    font-size: 2.5rem;
    margin: 0;
  }
  .mainContainer .cardsContainer .card .breedInfo {
    font-size: 1.5rem;
    margin: 0;
  }
  .mainContainer .cardsContainer .card .socialLinks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */